# Tuples Simple Questions

In [103]:
'''1. Write a Python program to print convert a list into a tuple.
    Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>     '''   
x=[1,2]
print("x -",x,'\n',type(x))
y=(1,2)
print("y -",y,'\n',type(y))

x - [1, 2]
 <class 'list'>
y - (1, 2)
 <class 'tuple'>

In [8]:
'''2. Write a Python program to create a tuple with different data types.
    Data:
        x = ("tuples",3.2, 1)
    Expected Output:
        ('tuples', 3.2, 1)'''
x=("tuples",3.2,1)
print((x))

('tuples', 3.2, 1)

In [12]:
'''3. Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25'''
x=5,10,15,20,25
print(type(x),'\n',x)      
for i in x:
    print(i)

<class 'tuple'>
 (5, 10, 15, 20, 25)
5
10
15
20
25

In [15]:
'''4. Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility'''
x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
print(''.join(x) )

volatality

In [18]:
'''5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3]'''
x=(1,2,3)
print(x)
print(list(x))

(1, 2, 3)
[1, 2, 3]

In [22]:
'''6. Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd')'''
x=("a","b","c","d")
y=list(x)
y.remove("c")
print(y)

['a', 'b', 'd']

In [26]:
'''7. Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')'''
x=("positions")
y=list(x)
print(len(x))

9

In [8]:
8. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = ((2, "w"),(3, "r"))
    Expected Output:
        {'w': 2, 'r': 3}

In [41]:
'''9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5)'''
x=('B','a','s','k','a','r')
y=(5,10,15,20)
print(x[::-1])
print(y[::-1])

('r', 'a', 'k', 's', 'a', 'B')
(20, 15, 10, 5)

In [52]:
'''10. Write a Python program to unpack a tuple in several variables.  
    Data:
        x = 4, 8, 3
    Expected Output:
        (4, 8, 3)
        15'''
x=4,8,3
a,b,c=x
d=a+b+c
print(a,b,c)
print(d)

4 8 3
15

In [62]:
'''11. Write a Python program to create a nested tuple.
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        ('Boss', [8, 4, 6], (1, 2, 3))'''
x = ("Boss", [8, 4, 6], (1, 2, 3)) 
print(x)

('Boss', [8, 4, 6], (1, 2, 3))

In [64]:
'''12. Write a Python program to convert a string into a tuple.
    Data:
        x = ("hello")
    Expected Output:
        <class 'str'>
        <class 'tuple'>'''
x=("hello")
y=tuple(x)
print(type(x))
print(type(y))

<class 'str'>
<class 'tuple'>

In [69]:
'''13. Write a Python program to access tuple elements using index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[0] is : B
        x[5] is : r'''
x=('B','a','s','k','a','r')
print("x[0]","is:",x[0])
print("x[1]","is:",x[1])
print("x[2]","is:",x[2])
print("x[3]","is:",x[3])
print("x[4]","is:",x[4])
print("x[5]","is:",x[5])

x[0] is: B
x[1] is: a
x[2] is: s
x[3] is: k
x[4] is: a
x[5] is: r

In [70]:
'''14. Write a Python program to access nested tuple elements using index. 
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        x[0][3] is : s
        x[1][1] is : 4'''
x=("boss",[8,4,6],(1,2,3))
print(x[0][3])
print(x[1][1])

s
4

In [76]:
'''15. Write a Python program to access tuple elements using negative index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[-1] is : r
        x[-6] is : B'''
x=('B','a','s','k','a','r')
print(x[-1])
print(x[-6])

r
B

In [79]:
'''16. Write a Python program to use + and * operators in a tuple and print the results in tuple.
    Data:
        x : (1, 12, 123)
        y : (4, 9)    
    Expected Output:
        z = x + y : (1, 12, 123, 4, 9)
        z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)'''
x=(1,12,123)
y=(4,9)
z=x+y
a=z*3
print(z)
print(a)

(1, 12, 123, 4, 9)
(1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [80]:
'''17. Write a Python program to print each elements of a tuple using for loop.
    Data:
        Tuple x = ('boss','sai')
    Expected Output:
        Hello boss
        Hello sai'''
tuple=('boss','sai')
for i in tuple:
    print("hello",i)

hello boss
hello sai

In [90]:
'''18. Write a Python program to print the count of 'p' and the index of 'l' from the given tuple using tuple methods.
    Data: 
        x = ('a', 'p', 'p', 'l', 'e')
    Expected Output:
        Count of p is : 2
        Index of l is : 3'''
x=("a","p","p","l","e")
count_x=x.count("p")
index_x=x.index("l")
print("count of p is :",count_x)
print("index of l is:",index_x)

count of p is : 2
index of l is: 3

In [96]:
'''19. Write a Python program to update an element of a given tuple from 7 to 77.
    Data:
        x = (1, [9, 8, 7], "boss")
    Expected Output:
        (1, [9, 8, 7], 'boss')
        (1, [9, 8, 77], 'boss')'''
x = (1, [9, 8, 7], "boss")
y=list(x)
y[1][2]=77
print(y)

[1, [9, 8, 77], 'boss']

In [102]:
'''20. Write a Python program to slice a tuple.
    Data: 
        x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
    Expected Output:
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        (33, 44, 55)
        (11, 22, 33, 44)
        (55, 66, 77, 88, 99)
        (55, 66, 77, 88)
        (11, 22, 33, 44, 55, 66, 77, 88, 99)'''
x=(11,22,33,44,55,66,77,88,99)
print(x[0:])
print(x[2:5])        
print(x[0:4])
print(x[4:9])
print(x[4:8])
print(x[0:9])

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)